<body>

        <!-- nav bar implementation -->
        <div class="nav-bar">
            <mat-toolbar class="mat-toolbar-navigation">
                <span style="margin-left: 10px; cursor: pointer;" matTooltip="Food made awesome 🤤🤤🤤" (click)="goToHomePage()">
                    <img class="HBImage" aria-label="Hungry Bird" src="../../../assets/Examples/homeicon.svg" alt="HB">
                    <span class="hide-for-mobile-devices HBFont">&nbsp; Hungry Bird</span>
                </span>
                <span class="nav-bar-spacer"></span>
                <span id="nameandiconSpan" [matMenuTriggerFor]="menu">
                    <span id="userFirstName" *ngIf="userDetails" matTooltip='{{userDetails.userName}}'>Hi, {{userDetails.userName.split('
                        ')[0]}}!&nbsp;&nbsp;</span>
                    <span id="userIcon">
                        <mat-icon aria-hidden="false" aria-label="Example user face" style="position: relative; top: 5px;">
                            account_circle</mat-icon>
                    </span>
                    <mat-menu #menu="matMenu">
                        
                        <button mat-menu-item (click)="goToHomePage()">Home Page</button>
                        <button mat-menu-item>Favourites</button>
                        <button mat-menu-item (click)="onLogout()">Logout</button>
                    </mat-menu>
                </span>
            </mat-toolbar>
        </div>




    <div class="spacingdiv">
        <h1 style="text-align: center;">Your Cart</h1>
    </div>
    <!-- This is for displaying items in restaurant -->
    <div class="container ">
        <div class="row overflow-hidden" *ngIf="cartItemsExist">
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-xs-3" *ngFor="let item of cartItems">
                <div>
                    <mat-card class="item-card">
                        <mat-card-header>
                            <mat-card-title >{{item.itemName}}</mat-card-title>
                        </mat-card-header>
                        <img mat-card-image [src]='item.productImage' style="height: 250px; object-fit: cover;" alt="Product photo">
                        <mat-card-content>
                            <div class="typeoffood">
                                <mat-chip-list aria-label="Category selection" style="display: inline-block;">
                                    <mat-chip style="border: 1px solid;">{{item.itemType}}</mat-chip>
                                    <mat-chip style="border: 1px solid;">{{item.itemCost | currency:"INR":"symbol"}} per item</mat-chip>
                                  </mat-chip-list>
                            </div>
                          </mat-card-content>
                        <mat-card-actions>
                                <div class="quantity-row">
                                    <button mat-icon-button aria-label="-" (click)='decreaseQuantity(item)'>
                                      <mat-icon>remove_circle_outline</mat-icon>
                                    </button>
                                   
                                    <button mat-icon-button aria-label="Q">{{item.itemQuantity}}</button>
                                    <button mat-icon-button aria-label="+" (click)='increaseQuantity(item)'>
                                      <mat-icon>add_circle_outline</mat-icon>
                                    </button>
                                    <button mat-icon-button aria-label="del" style="float:right" (click)='deleteItemFromCart(item)'>
                                        <mat-icon color="warn">delete_outline</mat-icon>
                                      </button>
                                  </div>
                        </mat-card-actions>
                    </mat-card>

                </div>
            </div>
        </div>
        <div *ngIf="!cartItemsExist">
            <h1 style="text-align: center;">Your cart is empty. Go on and add some good food. 🥘🍝🥣</h1>
        </div>
        <div class="totalAndBuy " *ngIf="cartItemsExist">
            <button mat-button aria-label="del"> Total cost</button>
            <button mat-button aria-label="del" style="float:right">Buy Items</button>
        </div>
        <div class="spacingdiv">
            <h1 style="text-align: center;">...</h1>
        </div>
    </div>
    
</body>