body {
    background: url(../../assets/backgrounds/undraw_street_food_hm5i.svg) no-repeat center center fixed;
    background-repeat: no-repeat;
    /* Do not repeat the image */
    background-position: left;
    background-size: auto;
    min-width: fit-content;
    
}


.sign-up-form {
    min-width: 100px;
    max-width: 400px;
    width: 100%;
}

.form-full-width {
    width: 100%;
}

.sign-up-matcard {
    max-width: 500px;
    transition: none !important;
    background: #f9fafbe0;
    border-radius: 15px;
    margin: auto;
    min-width: fit-content;
    max-width: fit-content;
}

.sign-up-page-captions{
    margin-top: 35px;
}

.mat-toolbar-navigation {
    background: #f9fafbe0;
}

.nav-bar-spacer {
    flex: 1 1 auto;
}

@media (max-width: 425px) {
    .hide-for-mobile-devices {
      display: none;
    }
}
