<!DOCTYPE html>
<html lang="en">

<head>
    <title>Signup Page</title>
</head>

<body>
    <!-- nav bar implementation -->
    <div class="nav-bar">
        <mat-toolbar class="mat-toolbar-navigation">
            <span style="margin-left: 10px; cursor: pointer;" matTooltip="Food made awesome 🤤🤤🤤">
                <img  class="HBImage" aria-label="Hungry Bird" src="../../assets/Examples/homeicon.svg" alt="HB">
                <span class="hide-for-mobile-devices HBFont">&nbsp; Hungry Bird</span>
            </span>
            <span class="nav-bar-spacer"></span>
            <span>
                <button routerLink="/login" routerLinkActive="active" mat-stroked-button
                    matTooltip="Login to your account" type="submit" style="border: none;">Login</button>
            </span>
            <span>
                <button mat-stroked-button class="hide-for-mobile-devices" matTooltip="About Us" type="submit"
                    style="border: none;" (click)="openDialogforAboutUs()">About</button>
            </span>

        </mat-toolbar>
    </div>


    <!-- Page implementation starts -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4 col-md-8 col-lg-8 ">
            </div>
            <div class="col-sm-8 col-md-4 col-lg-4" style="padding-top: 75px;">
                <mat-card class="sign-up-matcard">
                    <mat-card-title class="sign-up-title"> Sign up with Hungry Bird</mat-card-title>

                    <!-- Form for signup -->

                    <form class="sign-up-form" [formGroup]="userProfileForm" (ngSubmit)="onClickingSignup()">
                        <mat-card-content>
                            <div class="sign-up-form-div">
                                <!-- Taking in the full name -->
                                <div class="input-full-name">
                                    <mat-form-field class="form-full-width">
                                        <mat-label>Full name</mat-label>
                                        <input type="text" name="userName" formControlName="userName" matInput
                                            placeholder="Enter your full name" #userName>

                                        <!-- checking if full name is valid or not -->

                                        <mat-error
                                            *ngIf="userProfileForm.get('userName').invalid && (userProfileForm.get('userName').dirty || userProfileForm.get('userName').touched)">
                                            <div *ngIf="userProfileForm.get('userName').errors.required">
                                                Your full name is required.
                                            </div>
                                            <div *ngIf="userProfileForm.get('userName').errors.maxlength">
                                                Name cannot be more than 20 characters long.
                                            </div>
                                            <div *ngIf="userProfileForm.get('userName').errors.minlength">
                                                Name must be at least 3 characters long.
                                            </div>
                                        </mat-error>
                                    </mat-form-field>
                                </div>

                                <!-- Taking in the phone number -->
                                <div class="input-phone-number">
                                    <mat-form-field class="form-full-width">
                                        <mat-label>Phone number</mat-label>
                                        <span matPrefix>+91 &nbsp;</span>
                                        <input matInput type="tel" name="userPhoneNumber"
                                            formControlName="userPhoneNumber"
                                            placeholder="Enter your 10-digit phone number" #userPhoneNumber>

                                        <!-- Validating the phone number -->
                                        <mat-error
                                            *ngIf="userProfileForm.get('userPhoneNumber').invalid && (userProfileForm.get('userPhoneNumber').dirty || userProfileForm.get('userPhoneNumber').touched)">
                                            <div *ngIf="userProfileForm.get('userPhoneNumber').errors.required">
                                                Your phone number is required for food delivery.
                                            </div>
                                            <div *ngIf="userProfileForm.get('userPhoneNumber').errors.maxlength">
                                                Phone number cannot be more than 10 digits
                                            </div>
                                            <div *ngIf="userProfileForm.get('userPhoneNumber').errors.minlength">
                                                Phone number cannot be less than 10 digits
                                            </div>
                                        </mat-error>
                                    </mat-form-field>
                                </div>

                                <!-- Taking in the user credentials for login -->
                                <div class="input-credentials">
                                    <!-- Taking in the email id -->
                                    <div class="form-group input-email-id">
                                        <mat-form-field class="form-full-width">
                                            <mat-label>Email</mat-label>
                                            <input type="email" name="userEmailId" formControlName="userEmailId"
                                                matInput placeholder="Ex. abc@mail.com">
                                            <!-- Validating email -->
                                            <mat-error
                                                *ngIf="userProfileForm.get('userEmailId').invalid && (userProfileForm.get('userEmailId').dirty || userProfileForm.get('userEmailId').touched)">
                                                <div *ngIf="userProfileForm.get('userEmailId').errors.required">
                                                    Your Email ID is necessary for logging in.
                                                </div>
                                                <div *ngIf="userProfileForm.get('userEmailId').errors.email">
                                                    Please enter a valid Email ID.
                                                </div>
                                            </mat-error>

                                        </mat-form-field>
                                    </div>

                                    <!-- Taking in the userPassword -->
                                    <div class="form-group input-password">
                                        <mat-form-field class="form-full-width">
                                            <mat-label>Password</mat-label>
                                            <input matInput type="password"
                                                name="userPassword" formControlName="userPassword"
                                                placeholder="Please enter a Password">
                                            <!-- <button mat-icon-button matSuffix (click)="hideThePassword()">
                                                <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                                            </button> -->

                                            <!-- Validating the password -->
                                            <mat-error
                                                *ngIf="userProfileForm.get('userPassword').invalid && (userProfileForm.get('userPassword').dirty || userProfileForm.get('userPassword').touched)">
                                                <div *ngIf="userProfileForm.get('userPassword').errors.required">
                                                    Your password is necessary for logging in.
                                                </div>
                                                <div *ngIf="userProfileForm.get('userPassword').errors.maxlength">
                                                    Password cannot be more than 20 letters
                                                </div>
                                                <div *ngIf="userProfileForm.get('userPassword').errors.minlength">
                                                    Password cannot be less than 6 letters
                                                </div>
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                </div>

                                <!-- Taking consent for terms and conditions -->
                                <div class="checkbox-terms-conditions">
                                    <mat-checkbox class="form-full-width" name="termsAccepted"
                                        formControlName="termsAccepted" color="primary">
                                        Accept our&nbsp;<span style="font-weight:bold"
                                            (click)="openDialogforTermsAndConditions()">&nbsp;Terms &
                                            Conditions&nbsp;</span>
                                    </mat-checkbox>
                                </div>
                            </div>
                        </mat-card-content>
                        <mat-card-actions>
                            <div class="sign-up-button">
                                <button mat-stroked-button matTooltip="Clicking on this signs you up with Hungry Bird"
                                    type="submit" [disabled]="!userProfileForm.valid">Sign
                                    up</button>
                            </div>
                        </mat-card-actions>
                    </form>
                </mat-card>
            </div>
        </div>
    </div>

    <!-- Showing user that he is successfully signed up -->
    <div *ngIf="signedupSuccessfully">

    </div>
</body>

</html>