<!DOCTYPE html>
<html lang="en">

<body>
    <!-- nav bar implementation -->
    <div class="nav-bar">
        <mat-toolbar class="mat-toolbar-navigation">
            <span style="margin-left: 10px;">
                <mat-icon aria-hidden="false" aria-label="Hungry Bird" style="top: 5px;
                position: relative;">tapas</mat-icon>&nbsp; Hungry Bird
            </span>
        </mat-toolbar>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-md-4 col-lg-8 ">
                <div class="home-page-captions">
                    <span  style="font-size: 50px;">Who said eating hasn't got any fun...</span><br>
                    <span style="font-size: larger; ">With Hungry Bird, get that done!!!</span>

                </div>
            </div>
            <div class="col-sm-9 col-md-8 col-lg-4 ">
                <mat-card class="sign-up-matcard">
                    <mat-card-title class="sign-up-title"> Sign up with Hungry Bird</mat-card-title>
                    <mat-card-content>
                        <form class="sign-up-form" [formGroup]="userProfileForm" (ngSubmit)="onClickingSignup()">
                            <div class="sign-up-form-div">
                                <div class="input-full-name">
                                    <mat-form-field class="form-full-width">
                                        <mat-label>Full name</mat-label>
                                        <input type="text" matInput placeholder="Enter your full name">
                                    </mat-form-field>
                                </div>
                                <div class="input-phone-number">
                                    <mat-form-field class="form-full-width">
                                        <mat-label>Phone number</mat-label>
                                        <span matPrefix>+91 &nbsp;</span>
                                        <input type="tel" matInput placeholder="Please enter your 10-digit phone number">
                                    </mat-form-field>
                                </div>
                                <div class="input-email-id">
                                    <mat-form-field class="form-full-width">
                                        <mat-label>Email</mat-label>
                                        <input type="email" matInput placeholder="Ex. pat@example.com">
                                    </mat-form-field>
                                </div>

                                <div class="input-password">
                                    <mat-form-field class="form-full-width">
                                        <mat-label>Password</mat-label>
                                        <input type="password" matInput placeholder="Please enter a Password">
                                    </mat-form-field>
                                </div>

                                <div class="checkbox-terms-conditions">
                                    <mat-checkbox class="form-full-width" color="primary">Accept the Terms & Condtions
                                    </mat-checkbox>
                                </div>
                            </div>
                        </form>
                    </mat-card-content>
                    <mat-card-actions>
                        <div class="sign-up-button">
                            <button mat-stroked-button matTooltip="Signing up means you accept our Terms & Conditions" type="submit">Sign
                                                    up</button>
                        </div>
                    </mat-card-actions>

                </mat-card>
            </div>
        </div>
    </div>
</body>

</html>