/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }



.mat-form-field-label{
    color:rgb(49, 49, 49) !important;
  }
  .mat-form-field-underline{
    background-color:rgb(49, 49, 49) !important;
  }
  .mat-input-element{
    caret-color: rgb(49, 49, 49) !important;
}
.mat-focused{
    color: rgb(49, 49, 49) !important;
}
.mat-form-field-ripple{
    background-color: rgb(49, 49, 49) !important;
}
.mat-checkbox-checked.mat-primary .mat-checkbox-background{
    background-color: rgb(49, 49, 49) !important;
}

.mat-snack-bar-container{
  background-color: #f9fafbe0 !important;
  color: rgb(49, 49, 49) !important;
}

.mat-simple-snackbar-action button{
  color: rgb(49, 49, 49) !important;
}