<!DOCTYPE html>
<html>

<body>
  <div class="user-profile-body">
    <div class="heading">
      <h1>Profile Details</h1>
    </div>
    <div class="mat-tab-group">
      <mat-tab-group mat-stretch-tabs dynamicHeight animationDuration="1s">
        <mat-tab label="User Details">

          <div class="row maindivhere">
            <div class="col-md-6">
              <div class="profilepicdiv">
                <img [src]='profilepiclink' class="profilepic" style="object-fit: cover; background-color: gray;">

                <div class="editbuttondiv" >
                    <label for="file-upload"  mat-mini-fab class="edit" matTooltip="Edit Profile picture 📷🤳">
                      <mat-icon mat-mini-fab style="cursor: pointer; padding-top: 4px;">edit</mat-icon>
                    </label>
                  <input id="file-upload" type="file" accept="image/png, image/jpeg" (change)="onImageSelected($event)"/>
                </div>
                <div *ngIf="progressbar">
                  <mat-progress-bar mode="determinate" [value]="uploadpercentage" class="progressbar"></mat-progress-bar>
                </div>
              </div>
            </div>
            <div class="col-md-6 displaydiv">
              <div class="row displayrowdiv">
                <div class="col-md-5 col-sm-5 col-5 detailsheadings">
                  <div class="namedisplay">
                    <span class="namespan">Name</span>
                  </div>
                  <div class="emaildisplay">
                    <span class="emailspan">Email Id</span>
                  </div>
                  <div class="phonenumberdisplay">
                    <span class="numberspan">Phone Number</span>
                  </div>
                  <div class="DOBdisplay">
                    <span class="dobspan">Birth Date</span>
                  </div>
                  <div class="genderdisplay">
                    <span class="genderspan">Gender</span>
                  </div>
                </div>
                <div class="col-md-2 col-sm-2 col-2">
                </div>
                <div class="col-md-5 col-sm-5 col-5 detailsfrombackend">
                <div class="namedisplay">
                  <span class="namespan">{{userProfile.userName}}</span>
                </div>
                <div class="emaildisplay">
                  <span class="emailspan">{{userProfile.email}}</span>
                </div>
                <div class="numberdisplay">
                  <span class="numberspan">{{userProfile.userPhoneNumber}}</span>
                </div>
                <div class="DOBdisplay">
                  <span class="dobspan">DOB</span>
                </div>
                <div class="genderdisplay">
                  <span class="genderspan">Gender</span>
                </div>
                </div>
              </div>
              <div class="editdetailsbutton">
                <button class="detailsbutton" mat-button mat-flat-button
                style="color: crimson; text-align: center; border: 0.5px solid crimson;" (click)="editDetails()">Edit
                Details</button>
              </div>
            </div>
          </div>

        </mat-tab>

        <!-- This is the second mat tab -->
        <mat-tab label="Your Addresses">
          <form class="example-form">
            <mat-form-field class="example-full-width">
              <mat-label>Company (disabled)</mat-label>
              <input matInput disabled value="Google">
            </mat-form-field>

            <table class="example-full-width" cellspacing="0">
              <tr>
                <td>
                  <mat-form-field class="example-full-width">
                    <mat-label>First name</mat-label>
                    <input matInput>
                  </mat-form-field>
                </td>
                <td>
                  <mat-form-field class="example-full-width">
                    <mat-label>Long Last Name That Will Be Truncated</mat-label>
                    <input matInput>
                  </mat-form-field>
                </td>
              </tr>
            </table>

            <p>
              <mat-form-field class="example-full-width">
                <mat-label>Address</mat-label>
                <textarea matInput placeholder="Ex. 100 Main St">1600 Amphitheatre Pkwy</textarea>
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <mat-label>Address 2</mat-label>
                <textarea matInput></textarea>
              </mat-form-field>
            </p>

            <table class="example-full-width" cellspacing="0">
              <tr>
                <td>
                  <mat-form-field class="example-full-width">
                    <mat-label>City</mat-label>
                    <input matInput placeholder="Ex. San Francisco">
                  </mat-form-field>
                </td>
                <td>
                  <mat-form-field class="example-full-width">
                    <mat-label>State</mat-label>
                    <input matInput placeholder="Ex. California">
                  </mat-form-field>
                </td>
                <td>
                  <mat-form-field class="example-full-width">
                    <mat-label>Postal Code</mat-label>
                    <input matInput #postalCode maxlength="5" placeholder="Ex. 94105" value="94043">
                    <mat-hint align="end">{{postalCode.value.length}} / 5</mat-hint>
                  </mat-form-field>
                </td>
              </tr>
            </table>
          </form>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</body>



</html>