.userprofile {
    margin: auto;
    border: 2px solid crimson;
    min-width: max-content
}

#profilepicdiv {
    margin: auto;
    width: 250px;
    height: 250px;
    min-height: 100px;
    min-width: 100px;
}

.heading {
    text-align: center;
    padding-top: 10px
}

.title {
    color: grey;
    font-size: 18px;
    cursor: pointer;
}

h1 {
    cursor: pointer;
    margin-top: 10px;
}

.profilepic {
    cursor: pointer;
    position: relative;
    display: inline-block;
    border-radius: 50%;
    width: 300px;
    height: 300px;
}

.maindivhere {
    padding-top: 80px;
}

h1:hover, button:hover {
    opacity: 0.9;
}

img:hover {
    filter: blur(4px);
}

img {
    box-shadow: 5px 1px 20px 6px #ccc;
}

.userprofilematcard {
    width: 350px;
    margin: auto;
    text-align: center;
    max-width: fit-content;
    margin-top: 20px;
    border-radius: 5px;
    border: 0.5px solid darkgray;
}

.profilepicdiv:hover .edit {
    display: block;
    left: 22%;
    top: 53%;
}

.edit {
    color: black;
    background: gray;    
    border: 0.5px solid gray;
    display: none;
    width: 35px;
    border-radius: 50%;
    height: 35px;
    margin: auto;
}

.editbuttondiv{
    position: relative;
    bottom: 165px;
}

.details {
    text-align: center;
}

.profilepicdiv {
    text-align: center;
    margin-bottom: 30px;
}

.displaydiv {
    text-align: center;
    margin: auto;
    padding: 10px;
    width: auto;
    border-radius: 10px;
    box-shadow: 8px 2px 20px 6px #ccc;
    margin-top: 30px;
    max-width: fit-content;
}

.displayrowdiv {
    margin: 10px;
}

.detailsheadings {
    text-align: initial;
    white-space: nowrap;
}

.detailsfrombackend {
    text-align: end;
    white-space: nowrap;
}


input[type="file"] {
    display: none;
    cursor: pointer;
}

.progressbar{
    margin: auto;
    width: 300px;
}



























.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.example-full-width {
    width: 100%;
}

td {
    padding-right: 8px;
}

form {
    margin: auto;
}