<!DOCTYPE html>
<html>
<body>
<div class="about-us">
    <div>🍕🍔🍟🌭🍿🍗🥮🍧🍭🍄🥯🥫🌮🥪🥟🍚🍜🍤🍨🍩🎂🍫🧁🍮🍾🍷🥤🥪🍓🍽🍹🧉🍵🧃</div><br>
    <span style="font-size: large;">Who said eating hasn't got any fun...</span><br><br>
    <span style="font-size: larger; ">With <b>Hungry Bird</b>, get that done!!!❤❤❤</span><br><br>
    <span style="font-size: larger; ">With our super fast delivery, you can enjoy the food, at the safety of home...!</span><br><br>
    <div>🍕🍔🍟🌭🍿🍗🥮🍧🍭🍄🥯🥫🌮🥪🥟🍚🍜🍤🍨🍩🎂🍫🧁🍮🍾🍷🥤🥪🍓🍽🍹🧉🍵🧃</div>
</div>
</body>
</html>
